:root {
    background-color: #5d635f;
    --size: 1.6;
    
}

div {
    background-color: #5d635f;
    color: #0a8c35;
    font-family: Impact, Charcoal, sans-serif;
}

.impact {
  font-family: Impact, Charcoal, sans-serif;
}
