:root {
    background-color: #2a2b2b;
    --size: 1.6;
    
}

.cmd, .cmd div, .cmd span[data-text]:not(.cmd-inverted):not(.token):not(.emoji), .terminal, .terminal-output > :not(.raw) a, .terminal-output > :not(.raw) div, .terminal-output > :not(.raw) span[data-text]:not(.token):not(.inverted):not(.terminal-inverted):not(.cmd-inverted):not(.terminal-error):not(.emoji) {
    background-color: #2a2b2b;
    color: #0a8c35;
}

.cmd, .cmd span:not(.fas):not(.far):not(.fa), .terminal, .terminal-output > :not(.raw), .terminal-output > :not(.raw) a, .terminal-output > :not(.raw) span:not(.fas):not(.far):not(.fa){
    font-family: Aldrich;
}
